:root {
  --index-color: #ddd;
  --menubar-background: rgb(63, 63, 63);
  --sidebar-background: rgb(56, 56, 56);
  --sidebar-active-button: white;
  --sidebar-inactive-button: gray;
  --sidebar-window-background: rgb(33, 33, 34);
  --sidebar-resizer-background: rgb(158, 158, 223);
  --viewport-background: rgb(53, 52, 52);
}
