.sidebar-window {
  position: absolute;
  background: var(--sidebar-window-background);

  .explorer {
    height: 100%;

    .toolbar {
      height: 36px;
      user-select: none;

      .title {
        display: inline-block;
        padding: 10px 20px;
      }
    }

    .content {
      height: calc(100% - 36px);
    }
  }
}
