.sidebar {
  background: var(--sidebar-background);
  float: left;

  .button {
    padding: 10px 5px;
    svg {
      cursor: pointer;
      path {
        stroke: var(--sidebar-inactive-button);
      }
    }

    &.on {
      svg {
        path {
          stroke: var(--sidebar-active-button);
        }
      }
    }
  }
}
