.sidebar {
  background: var(--sidebar-background);
  float: left;

  .button {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    user-select: none;

    span {
      cursor: pointer;
      color: var(--sidebar-inactive-button);
      font-family: 'gicon';
      font-size: 24px;
    }

    &.on {
      span {
        color: var(--sidebar-active-button);
      }
    }
  }
}
